{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила сайта
      </div>
      <div class="card-body">
        <p>
          <b>Соблюдение авторских прав</b> Не используйте и не
          распространяйте материалы музея без разрешения.
          Уважайте права художников и авторов.
        </p>
        <p>
          <b>Технические рекомендации</b> Перед посещением
          виртуальных выставок убедитесь, что ваше устройство
          соответствует техническим требованиям для оптимального
          просмотра.
        </p>
      </div>
    </div>
  </div>
{% endblock %}